*{
    margin: 0%;
}

body{
    position: relative;
}

.div1{
    height: 100%;

    position: fixed;
    }
  
    .div2{

        margin-left: 20%;
        height: 100%;


        }

        .div3{


            margin-left: 70%;
            height: 100%;     
            position: fixed;
            }

        .busca{
            display: flex;
        }

        .casa img{
            height: 40px;
            border-radius: 50px;
        }

    .list-menu{
        list-style-type: none;
    }
    
    .list-menu li {
        display: flex;
    }
    
    
    .list-menu span {
       margin-right: 10px;
    }
    
    button{
        border: none;
    }
    
    
    .btn-new-twitter{
        width: 200px;
    }
    
    .icon-twitter{
       
        padding: 20px 0px 20px 0px;
    }
    
    .casa{
        border: 1px solid #d5d5d5;
        padding:5px 20px 5px 20px; 
        border-radius: 1px;
        width:90%;
        margin-right: 0px;
        
        
    }

    .casaDiv1{
 
        padding:5px 20px 5px 20px; 
        border-radius: 1px;
        width:90%;
        margin-right: 0px;
        
        
    }

    .casaDiv1 img{
        height: 40px;
        border-radius: 50px;
    }

    .casa2{
        border: 1px solid #d5d5d5;
        padding:5px 20px 5px 20px; 
        border-radius: 1px;
        width:90%;
        margin-right: 0px;

        
    }
    
    .seguir{
        background-color: #e4edf7;
        border: 1px solid #e4edf7;
        padding:5px 20px 5px 20px; 
        border-radius: 10px;
        width:90%;
        margin-right: 0px;
    }


